.insight-dump-wrapper {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #2D3250;
    color: #c4cfdb;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 6px;
    border: 1px solid #424769;
}

.insight-dump-wrapper p {
    margin: 0;
    padding: 0;
}

.insight-dump-wrapper p:last-of-type {
    padding-bottom: 15px;
}

.insight-dump-string {
    color: #009f69;
}

.insight-dump-number {
    color: #81D4FA;
}

.insight-dump-boolean--true {
    color: #07fdac;
}

.insight-dump-max-depth,
.insight-dump-boolean--false {
    color: #ff3757;
}

.insight-dump-max-depth {
    font-weight: bold;
}

.insight-dump-object-id,
.insight-dump-null {
    color: #8187ab;
}

.insight-dump-object-key,
.insight-dump-datetime-content,
.insight-dump-resource {
    color: #f4faff;
}

.insight-dump-type {
    color: #F48FB1;
}

.insight-dump-array-key,
.insight-dump-object,
.insight-dump-datetime {
    color: #ffcf30;
}

.insight-dump-toggle {
    cursor: pointer;
}

.insight-dump-array-header::before {
    content: '▶';
    display: inline-block;
    margin-right: 5px;
}

.insight-dump-array-content {
    margin-left: 20px;
    display: none;
}
