.insight-dump-wrapper {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #2D3250;
    color: #3e7dc2;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 6px;
}

.insight-dump-string {
    color: #03C988;
}

.insight-dump-number {
    color: #00a6ff;
}

.insight-dump-boolean--true {
    color: #07fdac;
}

.insight-dump-boolean--false {
    color: #f83455;
}

.insight-dump-object-id,
.insight-dump-null {
    color: #8187ab;
}

.insight-dump-object-key,
.insight-dump-datetime-content,
.insight-dump-resource {
    color: #e5e6f3;
}

.insight-dump-type {
    color: #f16b4f;
}

.insight-dump-array-key,
.insight-dump-object,
.insight-dump-datetime {
    color: #ffb700;
}
